   
:root {
    --darkgray: rgb(153,153,153);
    --lightgray:rgb(173,173,173);
    --lightblue: rgb(66,139,202);
    --darkblue:rgb(1,51,100);
    --red: rgb(211,11,13);
    --black:rgb(35,35,35);
}

https://www.colorcodepicker.com/?pn=Challenge%202%20Color%20Palette.png